<div class="container">
  <div class="card mx-auto" style="max-width: 400px;">
    <img [src]="product?.imgUrl" class="card-img-top" alt="Product Image">
    <div class="card-body">
      <h5 class="card-title">{{product?.productName}}</h5>
      <p class="card-text">{{product?.productDicription}}</p>
      <div class="form-group">
        <label for="quantity">quantity:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" value="{{product?.quantity}}">
      </div>
      <div class="card-price">
        <h5>{{product?.price | currency}}</h5>
        <button class="btn btn-primary"[routerLink]="['/products']">back tp home</button>
      </div>
    </div>
  </div>
</div>
